#demo {
  text-align: center;
}

#dodger {
  background-color: blue;
  color: red;
  height: 10px;
  left: 100px;
  top: 100px;
  position: absolute;
  width: 10px;
}

.dodger {
  width: 10px;
  height: 10px;
  left: 100px;
  top: 100px;
  background-color: blue;
  color: red;
}

#button {
  position: absolute;
  top: 10px;
  left: 10px;
}

#button:hover {
  color: orange;
}
