.hot {
    &>ul {
        background-color: white;
    }

    &:hover {
        background-color: red;
        background-image: url(https://us.123rf.com/450wm/flukesamed/flukesamed1507/flukesamed150700007/41972309-blaze-fire-flame-texture-background.jpg?ver=6);
    }
}

.cool {

    &>ul {
        background-color: white;
    }

    &:hover {
        background-color: skyblue;
        background-image: url(https://images.all-free-download.com/images/graphicthumb/bright_spring_backgrounds_530600.jpg);
    }
}

.cold {

    &>ul {
        background-color: white;
    }

    &:hover {
        background-color: snow;
        background-image: url(https://images-na.ssl-images-amazon.com/images/I/61nR-hxJBfL._SX466_.jpg);
    }
}

.bar1 {
    width: 35px;
    height: 5px;
    background-color: #ccc;
    transition: 0.2s all linear;
    margin: 5px 0px;
    border-radius: 25px;
}

.bar2 {
    width: 35px;
    height: 5px;
    background-color: #ccc;
    transition: 0.2s all linear;
    margin: 5px 0px;
    border-radius: 25px;
}

.bar3 {
    width: 35px;
    height: 5px;
    background-color: #ccc;
    transition: 0.2s all linear;
    margin: 5px 0px;
    border-radius: 25px;
}

.bar {
    max-width: 35px;
    position: relative;
    top: 5px;
    left: 205px;
    padding: 10px 10px;

    &:hover {
        .bar1 {
            transform: rotate(-45deg) translate(0px, 0px);
            background-color: black;
        }

        .bar2 {
            transform: rotate(45deg) translate(-7px, -8px);
            background-color: white;
        }

        .bar3 {
            transform: rotate(45deg) translate(-15px, -15px);
            background-color: black;
        }
    }
}