@import '_weatherCard';

/* Grid layout */
.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: right;
}

.item5 {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas: "header header header header header header""menu main main main right right""menu footer footer footer footer footer";
    grid-gap: 10px;
    padding: 10px;

    &>div {
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }
}

li {
    list-style: none;
}

#weatherList>div {
    text-align: left;
    border: 1px black solid;
    max-width: 400px;
}

.flex-container {
    display: flex;
    background-color: DodgerBlue;

    &>div {
        background-color: #f1f1f1;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
    }
}


button {
    width: 100px;
    height: 50px;
    background-color: whitesmoke;

    &:hover {
        background-color: green;
    }

    &.clear:hover {
        background-color: red;
    }
}